<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--指定properties文件的位置，从类路径根开始找文件 -->
	<properties resource="jdbc.properties" />

	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>

	<!-- 配置插件[配置插件在配置环境之前] -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor" />
	</plugins>

	<environments default="mydev">
		<environment id="mydev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/ikuta/dao/StudentDao.xml" />
	</mappers>
</configuration>